.comic-img {
  height: 550px;
  width: 400px;
  border: 5px solid black;
  border-radius: 5px;
}

.comic-img:hover {
  cursor: pointer;
}

.comic-grid-card {
  flex: 1 1 10%;
}

.card-name {
  font-weight: bold;
}
